body {
    margin: 0;
    font-family: 'Arial', sans-serif; 
    background-color: #f0f2f5; 
    color: #333;
  }
  
  .social {
    margin: 0;
    padding: 2rem;
    margin: 0 auto; 
    background-color: rgb(70, 62, 62);
    border-radius: .5rem; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  
    &__title {
      text-align: center;
      font-size: 2.5rem; 
      margin-bottom: 1rem;
      color: #2e2e2e; 
    }
  
    &__image {
      display: flex;
      gap: 3rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }